@page "/person/{id:int}"
@page "/person"

@inject IPersonsViewmodel person


    <h3>Person Edit:</h3>



    <form>
        <div class="form-group">
            <label for="">Ime:</label>
            <input type="text" class="form-control" @bind-value="@person.PersonList[id-1].FirstName">
        </div>
        <div class="form-group">
            <label for="">Prezime:</label>

            <input type="text" class="form-control" @bind-value="@person.PersonList[id-1].LastName">
        </div>

        <button type="submit" class="btn btn-primary" > <a href="persons">Edit</a></button>
    </form>



    @code {
        [Parameter]
        public int id { get; set; }
    }