@page "/persons"


@inject IPersonsViewmodel Persons
@inject IToastService _toastService

<h3>Contacts:</h3>
<a class="btn btn-primary" href="person/add">Add new</a>
<br /><br />
<table class="table">
    
    @foreach(var person in Persons.PersonList)
            {
    <tr>
        <td><a href="@($"/person/{person.PersonId}")">@person.Name </a></td>

        <button class="btn btn-primary" @onclick="()=>Call(person.Name)">Call</button>

        <td><a href="@($"/person/{person.PersonId}")"><img style="height:20px; width:auto;" src="https://www.iconpacks.net/icons/1/free-information-icon-348-thumb.png" /></a></td>
    </tr>
            }

</table>

@code {

    public async Task Call(string name)
    {
        _toastService.ShowSuccess($"Calling {name}");

    }

}

